In [1]:
import pandas as pd

<div style="text-align: center; color: yellowgreen; font-size:32px; padding:20px ">
.       TRANSFORMATION      .  <BR>     

</div>

In [2]:
df = pd.read_csv('clean.csv')
df

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,price_log,enginesize_log,curbweight_log
0,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,2.68,9.0,111,5000,21,27,13495.0,9.510075,4.867534,7.843064
1,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,2.68,9.0,111,5000,21,27,16500.0,9.711116,4.867534,7.843064
2,1,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,3.47,9.0,154,5000,19,26,16500.0,9.711116,5.023881,7.945555
3,2,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,3.40,10.0,102,5500,24,30,13950.0,9.543235,4.691348,7.756623
4,2,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,3.40,8.0,115,5500,18,22,17450.0,9.767095,4.912655,7.945910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,-1,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,3.15,9.5,114,5400,23,28,16845.0,9.731809,4.948760,7.990238
196,-1,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.8,...,3.15,8.7,160,5300,19,25,19045.0,9.854560,4.948760,8.022569
197,-1,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,...,2.87,8.8,134,5500,18,23,21485.0,9.975110,5.153292,8.010360
198,-1,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,3.40,23.0,106,4800,26,27,22470.0,10.019936,4.976734,8.076205
199,-1,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,3.15,9.5,114,5400,19,25,22625.0,10.026811,4.948760,8.026824

In [3]:
df_c = df.select_dtypes(include=['object'])  #Creo el df de las columnas actegoricas a transformar

In [4]:
df_c

,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,enginetype,cylindernumber,fuelsystem
0,gas,std,two,convertible,rwd,front,dohc,four,mpfi
1,gas,std,two,convertible,rwd,front,dohc,four,mpfi
2,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi
3,gas,std,four,sedan,fwd,front,ohc,four,mpfi
4,gas,std,four,sedan,4wd,front,ohc,five,mpfi
...,...,...,...,...,...,...,...,...,...
195,gas,std,four,sedan,rwd,front,ohc,four,mpfi
196,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi
197,gas,std,four,sedan,rwd,front,ohcv,six,mpfi
198,diesel,turbo,four,sedan,rwd,front,ohc,six,idi
199,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi

In [5]:
nombres_columnas_df_c = df_c.columns.to_list() # copio los nombres de las columnas a una lista

for columna in nombres_columnas_df_c:  # Creo el bucle para ver la imformacion de cada columna
    cc_u = df_c[columna].value_counts() 
    print(cc_u)

fueltype
gas       180
diesel     20
Name: count, dtype: int64
aspiration
std      163
turbo     37
Name: count, dtype: int64
doornumber
four    114
two      86
Name: count, dtype: int64
carbody
sedan          93
hatchback      69
wagon          25
hardtop         7
convertible     6
Name: count, dtype: int64
drivewheel
fwd    120
rwd     71
4wd      9
Name: count, dtype: int64
enginelocation
front    197
rear       3
Name: count, dtype: int64
enginetype
ohc      147
ohcf      15
l         12
ohcv      11
dohc      10
rotor      4
dohcv      1
Name: count, dtype: int64
cylindernumber
four      157
six        23
five       11
two         4
eight       3
three       1
twelve      1
Name: count, dtype: int64
fuelsystem
mpfi    89
2bbl    66
idi     20
1bbl    11
spdi     9
4bbl     3
mfi      1
spfi     1
Name: count, dtype: int64

#### Bucle para crear las columnas dummies de lso valores categoricos

In [6]:
df_c.columns

Index(['fueltype', 'aspiration', 'doornumber', 'carbody', 'drivewheel',
       'enginelocation', 'enginetype', 'cylindernumber', 'fuelsystem'],
      dtype='object')

In [8]:
# Creo la lista de con los nombres de las columnas.
columnas_a_dummies = df_c.columns.to_list()
print(columnas_a_dummies)

['fueltype', 'aspiration', 'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'enginetype', 'cylindernumber', 'fuelsystem']

In [9]:
#Creo el bucle

for columna in columnas_a_dummies:
    dummy_actual = pd.get_dummies(df[columna], prefix=columna)
    df_c = pd.concat([df_c, dummy_actual], axis=1)
    df_c.drop(columna, axis=1, inplace=True)

In [10]:
df_c

,fueltype_diesel,fueltype_gas,aspiration_std,aspiration_turbo,doornumber_four,doornumber_two,carbody_convertible,carbody_hardtop,carbody_hatchback,carbody_sedan,...,cylindernumber_twelve,cylindernumber_two,fuelsystem_1bbl,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi
0,False,True,True,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,False,True,True,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,False,True,True,False,False,True,False,False,True,False,...,False,False,False,False,False,False,False,True,False,False
3,False,True,True,False,True,False,False,False,False,True,...,False,False,False,False,False,False,False,True,False,False
4,False,True,True,False,True,False,False,False,False,True,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,False,True,True,False,True,False,False,False,False,True,...,False,False,False,False,False,False,False,True,False,False
196,False,True,False,True,True,False,False,False,False,True,...,False,False,False,False,False,False,False,True,False,False
197,False,True,True,False,True,False,False,False,False,True,...,False,False,False,False,False,False,False,True,False,False
198,True,False,False,True,True,False,False,False,False,True,...,False,False,False,False,False,True,False,False,False,False
199,False,True,False,True,True,False,False,False,False,True,...,False,False,False,False,False,False,False,True,False,False